<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operação Soma</title>
    <link rel="stylesheet" href="/css/Operação - Soma/01/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container" id="C-Menu">
        <div id="menuS">

        </div>
    </div>
    <div class="container" id="C-Soma">
            <div id="soma"></div>
            <form id="caixa">
                <label for="resposta">Resposta:</label> 
                <input type="text" name="resposta" id="resposta" placeholder="Digite a resposta aqui">
            </form>
            <input type="submit" value="Verificar" id="verificar" onclick="verificarResposta()">

        </div>
    <div class="container" id="C-Menu">
        <div id="menuI">
    
        </div>
    </div>
    <script src="/js/Operação - Soma/01/funcoes.js"></script>
</body>
</html>