<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel 01</title>
    <link rel="stylesheet" href="/css/Jogo da Memoria/01/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div id="memoria"></div>
    </div>
</div>
<div class="bg-modal">
    <div class="modalContent">
        <div class="fechar">+</div>
            <marquee behavior="" direction="right"><img class="character" src="/images/_sheep.gif" alt=""></marquee>
        <div class="box">
            <p>Parabéns !!! Você concluiu o 1º nível.</p>
            <a href="/nivel02" class="btn btn-success">Próximo nível</a>
            <a href="/nivel01" class="btn btn-info">Jogar Novamente</a>
            <a href="/" class="btn btn-dark">Inicio</a>
        </div>
    </div>
</div>
<!-- <script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script> -->
<script src="/js/Jogo da Memoria/01/funcoes.js"></script>
</body>
</html>