<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <h4>Jogo da Memoria</h4>
    <ul>
        <li><a href="/nivel01">Nivel 01</a></li>
        <li><a href="/nivel02">Nivel 02</a></li>
        <li><a href="/nivel03">Nivel 03</a></li>
        <li><a href="/nivel04">Nivel 04</a></li>

    </ul>
    <h4>Jogo das operações</h4>
    <ul>
        <li><a href="/nivel1">Nivel 01</a></li>
        <li><a href="/nivel2">Nivel 02</a></li>
        <li><a href="/nivel3">Nivel 03</a></li>
    </ul>
</body>
</html>